html{
    background-color: white;
    background-image: url('https://wallpapercave.com/wp/wp8794617.jpg');
    background-position: center;
    background-size: cover;
}

.title {
    font-size: 28px;
    display: flex;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
}
.time-score {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 1.5vh;

}
.timer {
        // background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: white;
        font-family: 'Press Start 2P', cursive;
        font-weight: 100;
}
.music {
  font-size: 14px;
        color: white;
        font-family: 'Press Start 2P', cursive;
        font-weight: 100;
        border: 3px solid white;
        padding: 5px; 
}
.music:hover {
  background-color: white;
  color: black;
  cursor: help;

}

.restart {
  font-size: 14px;
        color: white;
        font-family: 'Press Start 2P', cursive;
        font-weight: 100;
        border: 3px solid white;
        padding: 5px; 
}
.kill-count {
        // background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: 'Press Start 2P', cursive;
        font-weight: 100;
        color: white;
}
#mainContainer {
    width: 100%;
    text-align: center;
    display: inline;
    position: relative;
    display: inline-block;
    justify-content: space-evenly;
}
#timer-fighter {
  border-radius: 10px;
  border: 4px solid rgb(72, 72, 72);
  height: "1024"; 
  width: "576";
}
#displayResults {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 48%;
  left: 32%;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
}
.instructions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#instruction {
  margin-top: 4vh;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: 0;
    font-size: 10px;
}
